div.row-widget.stRadio > div {
 flex-direction: row;
 align-items: stretch;
}

div.row-widget.stRadio > div[role="radiogroup"] > label[data-baseweb="radio"]  {
 background-color: #c8e1bf;
 textColor: #FEFEFE;
 padding-right: 10px;
 padding-left: 4px;
 padding-bottom: 3px;
 margin: 4px;
}